extends layout

block content

    form#newuser(name='', method='post')
        div#input
            span.label(for='user') Usuário
            br
            input(type='text', name='user')
            br
            br
            span.label Senha
            br
            input(type='password', name='pswd')
            br
            br
            span.label Nome
            br
            input(type='text', name='name')
            
        div#actions
            br
            input(type='submit', value='Adicionar usuário')
            
        script.
            const formLogin = document.querySelector('#newuser');

            formLogin.addEventListener('submit', function(event) {
                const formData = new FormData(formLogin);

                console.log('Form Data: ', formData);
                event.preventDefault();
                fetch('/register', {
                    method: 'POST',
                    body: formData
                });
            });

    
        

block js
    