extends layout

block content

    style(type='text/css').
        table, tr, th {
            border: 1px solid black;
        }
    table
        tr
            th Nome do usuário
            th Login
            th Senha
        for person in personList
            tr
                td= person.name
                td= person.id
                td= person.password

block js